<div class="container">
  <div class="search-container">
    <h1>Welcome <%= @current_user.name %></h1>
    
      <%= text_field_tag :query, params[:query], placeholder: "Search...", id:  "search-input", autocomplete: "off" %>
      <div id="search-results">
        <ul id="search-list">
          <% @searches.each do |search| %>
            <li><%= search.query %></li>
          <% end %>
        </ul>
      </div>

    <%= javascript_include_tag 'liveSearch.js'%>
  </div>
</div>