<nav>
  <ul>
    <li><%= link_to 'Search', root_path, class: "nav-link active" %></li>
    <li><%= link_to 'Analytics', analytics_path, class: "nav-link" %></li>
  </ul>
  <%= link_to 'Logout', logout_path, 'data-turbo-method': :delete %>
</nav>